<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799879175588-bn0dkiuaid4tv9rr5ms7n05hv5hq4biq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799879175588-bn0dkiuaid4tv9rr5ms7n05hv5hq4biq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799879175588-0pbmvhrmvra67leu6cs9um5gs3faqreg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiHNNkVayTWQPGOQ-ybbg7yrWPYj2DxIM</string>
	<key>GCM_SENDER_ID</key>
	<string>799879175588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duybpz389.supportFPTadmissionoffice</string>
	<key>PROJECT_ID</key>
	<string>supfamof-c8c84</string>
	<key>STORAGE_BUCKET</key>
	<string>supfamof-c8c84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799879175588:ios:b7f4ad9973a17214caf531</string>
</dict>
</plist>